<ion-grid>
  <ion-row><ion-col>
      <ion-button fill="clear" expand="block">Adicionar</ion-button>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item id="alert-excluir" *ngFor="let produto of listaProduto; let index">
          <ion-label>{{produto.Nome}}</ion-label>
          <ion-button size="small"><ion-icon name="trash-outline"></ion-icon></ion-button>
          <ion-button size="small"><ion-icon name="brush-outline"></ion-icon></ion-button>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>